:root {
    --color-text-primary: #247ba0;
    --bg-color-primary: #13293d;
    --color-text-secondary: #e8f1f2;
}
    

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color-primary);
}
    