.projects {
    padding: 40px 32px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;

    h1 {
        font-size: 60px;
        line-height: 75px;

        text-shadow: 1px 1px 2px #56a69e76;

        color: var(--color-text-primary) ;
    }

    .projects-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 28px;

        .swiper {
            width: 100%;
            padding: 32px;

            .swiper-slide{
                display: flex;
                justify-content: center;
            }
        }
    }

    .home-button {
        background-color: transparent;
        padding: 20px;

        border-radius: 40px;
        border: 1px solid var(--color-text-primary);

        text-decoration: none;
        color: var(--color-text-primary);

        font-weight: bold;

        transition: .5s;
    }

    .home-button:hover {
        scale: 1.10;

        color: var(--color-text-secondary);
        border-color: transparent;
    }
}